<%- include('../partials/header') %>
<header class="topbar">
  <div class="brand">ROTINA+</div>

  <div class="topbar-right">

    <div class="profile">
      <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="perfil">
    </div>
    <a href="/logout" class="btn-link">SAIR</a>
  </div>
</header>

<!-- CORPO -->
<main class="content">
  <div class="content-header">
    <button class="btn-add" onclick="btnAbrirModal()">
      + Adicionar Paciente
    </button>

    <div id="modal" class="overlay">
      <div class="modal">
        <h3>Adicionar Paciente</h3>
        <form action="/psicologo_geral" method="POST">
          <input type="number" name="id_paciente" placeholder="ID do paciente" required>
          <div class="modal-buttons">
            <button type="submit">Adicionar</button>
            <button type="button" onclick="btnFecharModal()">Fechar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="search-box">
      <input type="text" id="searchInput" placeholder="Procurar paciente...">      
    </div>
  </div>

  <!-- LISTA DE PACIENTES -->
  <div class="patients-list" id="patientsList">
    <!-- CARD DO PACIENTE -->
      <% if (pacientes.length === 0) {%>
        <div class="emptyList">
            <div>
                Você não possui nenhum paciente cadastrado
            </div>
        </div>
      <% } else {%>
        <% pacientes.forEach(item => { %>
          <div class="card">
            <div class="card-left">
              <div class="avatar">
                <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="<%= item.nome %>">
              </div>
              <div class="patient-info">
                <span class="patient-name"><%= item.name %></span>
                <span class="patient-email"><%= item.email %></span>
              </div>
            </div>
           <div class="card-right">
              <button class="btn-acomp" onclick="acompanhar('<%= item.id_paciente %>')">ACOMPANHAR</button>
              <form action="/psicologo_geral/excluir" method="post">
                <input type="hidden" name="id_paciente" value="<%= item.id_paciente %>">
                <button type="submit" class="btn-edit" title="Excluir paciente">🗑️</button>
              </form>
            </div>
          </div>
 
        <% }) %>

        <% }  %>

        <% if (typeof error !== 'undefined') { %>
          <div id="popupError" class="popup">
            <span><%= error %></span>
            <button onclick="fecharPopup()">Fechar</button>
          </div>
        <% } %>
  </div>
</main>

<script src="/js/psicologoGeralFuncao.js"></script>
<%- include('../partials/footer') %>
